@import './variables.scss';

.page {
	.brandingTitle {
		font-family: var(--font-geist-sans);
		font-size: 32px;
		line-height: 40px;
		letter-spacing: -0.01em;
		color: $color-brand;
	}

}



@media (prefers-color-scheme: dark) {

	.page {
		--gray-rgb: 255, 255, 255;
		--gray-alpha-200: rgba(var(--gray-rgb), 0.145);
		--gray-alpha-100: rgba(var(--gray-rgb), 0.06);

		--button-primary-hover: #ccc;
		--button-secondary-hover: #1a1a1a;
	}
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}

@media (max-width: 600px) {}

@media (prefers-color-scheme: dark) {}